site_name: Teachings — Web Aufträge
site_description: Aufgaben für den Webkurs
site_author: Tim Leibacher
docs_dir: web
site_url: https://tim-leibacher.github.io/Teachings/

theme:
  name: material
  language: de
  palette:
    # Heller Modus
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Zu Dunkelmodus wechseln
    # Dunkler Modus
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Zu Hellmodus wechseln

  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.suggest
    - search.share
    - content.code.copy
    - content.code.annotate

plugins:
  - search:
      lang: de

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - tables
  - footnotes

repo_url: https://github.com/Tim-Leibacher/Teachings
repo_name: Tim-Leibacher/Teachings
